[config]
disable=all
max-line-length=100
enable=
    anomalous-backslash-in-string,
    bad-option-value,
    bad-reversed-sequence,
    bad-super-call,
    continue-in-finally,
    dangerous-default-value,
    duplicate-argument-name,
    expression-not-assigned,
    f-string-without-interpolation,
    function-redefined,
    init-is-generator,
    line-too-long,
    mixed-indentation,
    nonexistent-operator,
    not-in-loop,
    no-value-for-parameter
    pointless-statement,
    pointless-string-statement,
    redefined-builtin,
    relative-import,
    return-arg-in-generator,
    return-in-init,
    return-outside-function,
    singleton-comparison,
    syntax-error,
    undefined-variable,
    unnecessary-pass,
    unreachable,
    unrecognized-inline-option,
    unused-import,
    unused-variable,
    unused-wildcard-import,
    wildcard-import,
    wrong-import-order,
    wrong-import-position,
    yield-outside-function
